<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988764122942-h0tn0o0bfm2c1ugk03bsk4v7p3f60dv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988764122942-h0tn0o0bfm2c1ugk03bsk4v7p3f60dv7</string>
	<key>API_KEY</key>
	<string>AIzaSyAxHKEuy0pptWDlyvNJn5Jg6Gx7EqB2R1w</string>
	<key>GCM_SENDER_ID</key>
	<string>988764122942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moniayakin.afia</string>
	<key>PROJECT_ID</key>
	<string>afia-f7c67</string>
	<key>STORAGE_BUCKET</key>
	<string>afia-f7c67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988764122942:ios:dacc05b760351f0376c66f</string>
</dict>
</plist>